<footer class="footer mt-auto py-4 bg-dark">
    <div class="fluid-container text-white">
        <div class="row ms-4">
            <div class="col-md-3 md-3"> 
                <div class="row">
                    <h3>Useful Links</h3>
                </div>
                <div class="row">
                    <h6>Get to know the market</h6>
                </div>
                <div class="row">
                    <h6>The minister of the economy</h6>
                </div>
                <div class="row">
                    <h6>Contracts Guide</h6>
                </div>
                <div class="row">
                    <h6>Why us ?</h6>
                </div>
            </div>
            <div class="col-md-3 md-3"> 
                <div class="row">
                    <h3>Additional Pages</h3>
                </div>
                <div class="row">
                    <h6>About us</h6>
                </div>
                <div class="row">
                    <h6>How We Work</h6>
                </div>
                <div class="row">
                    <h6>Quick Support</h6>
                </div>
                <div class="row">
                    <h6>Contact us</h6>
                </div>
                <div class="row">
                    <h6>Privacy Policy</h6>
                </div>
            </div>
            <div class="col-md-3 md-3">
                <h5>Send us your thoughts</h5>
                <div class="contact-form">
                    <form id="contact footer-contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
