<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-header">
        <img src="../../../assets/logo/springFund.png" width="150px" class="pb-4"/>
        <h1 class="offcanvas-title pt-2">Menu</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">

        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'dashboard'"> Admin Dashboard </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'funds'">My Funds </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'customers'">My Customers </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'payments'">My Investors</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'fund-types'">My Ivestements</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLinkActive="active" [routerLink]="'reports'"> Favorite Projects</a>
        </div>

    </div>
</div>
