<div class="fluid-container">
    <mat-card>
        <mat-card-content>
            <div class="row">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Arts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Comics & Illustration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Design & Tech</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Electronics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Food & Craft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Travel & Leisure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success fw-bolder" href="#">Fashion</a>
                    </li>
                </ul> 
            </div>
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-header>
                <h1 class="mx-auto fw-bold">
                Bring a creative project to life.
                </h1>
            <mat-card-subtitle>In SpringFund</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row g-4">
                <div class="col-md-4 md-4 align-items-center">
                    <div class="card bg-light border-success">
                        <div class="card-header">
                           Projects Funded 
                        </div>
                        <div class="card-body text-success">
                            <h3 class="card-title"><span class="fw-bold">12,022</span> Projects Funded by you!</h3> 
                        </div>
                    </div> 
                </div>
                <div class="col-md-4 md-4 align-items-center">
                    <div class="card bg-light border-success">
                        <div class="card-header">
                           Projects In Funding
                        </div>
                        <div class="card-body text-success">
                            <h3 class="card-title"><span class="fw-bold">1,120</span> Are needing your funding to thrive!</h3> 
                        </div>
                    </div>  
                </div>
                <div class="col-md-4 md-4 align-items-center">
                    <div class="card bg-light border-success">
                        <div class="card-header">
                            Our Investors
                        </div>
                        <div class="card-body text-success">
                            <h3 class="card-title"><span class="fw-bold">520</span> Help make dreams come true!</h3> 
                        </div>
                    </div>  
                </div>
            </div>
        </mat-card-content>
    </mat-card> 

    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-content>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="../../assets/imgs/c48c8352-4cf2-465c-9b7c-e3798e0132b3.jpeg" class="card-img-top" alt="project1" width="200">
                        <div class="card-body">
                            <h2 class="card-title">Camera Protector for your lenses</h2>
                            <p class="card-text">supporting our startup will guarantee you get at least one of our premium lens protectors for the latest lenses out there</p>
                            <div class="card-footer"> 
                                <div class="row ms-4">
                                    <div class="col-md-3 md-3 pt-2"> 
                                        <h2 class="card-title text-success">64% Funded</h2>
                                    </div>
                                    <div class="col-md-3 md-3 pt-3"> 
                                        <h5 class="card-title">By KiLOINC</h5>
                                    </div>
                                    <div class="col-md-3 md-3 pt-2"> 
                                    </div>
                                    <div class="col-md-3 md-3 pt-2"> 
                                        <a href="#" class="btn btn-success">Fund</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/imgs/bbaa2515-a91a-4ea1-a4d3-2dd74f57720e.jpeg" class="card-img-top" alt="project2" width="200">
                        <div class="card-body">
                            <h2 class="card-title">Hotel Beldi for all your leisures</h2>
                            <p class="card-text">Invest in our bohemian hotel in town, which will help with the local economy and bring many tourists to our town.</p>
                        </div>
                        <div class="card-footer"> 
                            <div class="row ms-4">
                                <div class="col-md-3 md-3 pt-2"> 
                                    <h2 class="card-title text-success">150% Funded</h2>
                                </div>
                                <div class="col-md-3 md-3 pt-3"> 
                                    <h5 class="card-title">By BladiHotels</h5>
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                    <a href="#" class="btn btn-success">Fund</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/imgs/409a1ca5-d05f-40d9-874f-f7149ab2781b.jpeg" class="card-img-top" alt="project3" width="200">
                        <div class="card-body">
                            <h2 class="card-title">Local Bio produce from your farmer</h2>
                            <p class="card-text">Helping grow our farm will make you feel good, healthy and full of delicious bio veggies. Grown in local farms for you!</p>
                        </div>
                        <div class="card-footer"> 
                            <div class="row ms-4">
                                <div class="col-md-3 md-3 pt-2"> 
                                    <h2 class="card-title text-success">102% Funded</h2>
                                </div>
                                <div class="col-md-3 md-3 pt-3"> 
                                    <h5 class="card-title">By maaziFarms</h5>
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                    <a href="#" class="btn btn-success">Fund</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../../assets/imgs/30106a39-5512-4b62-b824-5b6fab55e6bd.jpeg" class="card-img-top" alt="project4" width="200">
                        <div class="card-body">
                            <h2 class="card-title">Comics Are back! So Let's help them thrive again</h2>
                            <p class="card-text">Comics are making a huge comeback nowadays, and One moroccan artist has pledged to make everyone adore his work, so let's invest in him!</p>
                        </div>
                        <div class="card-footer"> 
                            <div class="row ms-4">
                                <div class="col-md-3 md-3 pt-2"> 
                                    <h2 class="card-title text-success">75% Funded</h2>
                                </div>
                                <div class="col-md-3 md-3 pt-3"> 
                                    <h5 class="card-title">By ComicMan</h5>
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                </div>
                                <div class="col-md-3 md-3 pt-2"> 
                                    <a href="#" class="btn btn-success">Fund</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
            </mat-paginator>
        </mat-card-content>

    </mat-card>

</div>
